# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
venv/
ENV/
.venv
.python-version

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject

# Project specific
.aider*
assets/*
*.spec

# OS specific
.DS_Store
Thumbs.db

# rsf specific
rsfdata/
rallysimfans_personal*.ini
RichardBurnsRally.ini